.form-busca {
    margin: 40px 0;
    display: block;
    
    .flex-container {
      display: flex;
      align-items: center;
      gap: 12px;
      margin: 16px 0;
    }

    .mbt{
      background-color: #333; // cor de fundo mais escura
      color: #fff; // cor do texto

      &.mat-button-toggle-checked {
        background-color: #555; // cor de fundo quando selecionado
        color: #fff; // cor do texto quando selecionado
    }
  }

    .input-container {
      margin-bottom: -1.25em;
    }
    
    .mat-button-toggle-checked {
      background-color: #F7F2FA;
    }
    h2 {
      font-size: 32px;
      margin-bottom: 20px;
    }
  }
  