<app-banner src="assets/imagens/banner-homepage.png" 
    alt="Banner da aplicação">
</app-banner>
<app-container>
    <h3>Promoções:</h3>
    <app-form-busca></app-form-busca>
    <div class="card-wrapper">
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    <app-card-busca></app-card-busca>
    </div>
    <h3>Depoimentos</h3>
    <app-lista-depoimentos class="alinhador"></app-lista-depoimentos>
</app-container>
<app-banner></app-banner>
<app-footer></app-footer>