.secaoPai {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  margin: 1rem 0 2rem;
  flex-direction: row;
}

.sem-pensamentos {
  text-align: center;
  padding: 2rem 0 5rem;
}

.hope{
  display: flex;
  flex-direction: row;
  align-items: start;
}